// VARIABLES
$default-font-size: 1.6rem;
$header-font-size: 3rem;
$page-header-font-size: 6rem;
$fancy-font: 'Fredoka One', cursive;

// COLORS
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
$black: #000;
$gray: #ccc;
$gray-dark: #aaa;

$blue-variant-1: #6a98e2;
$blue-variant-2: #305a9e;

// Breakpoints
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-xsmall: 28.125em; // 450px / 16px = 28.125em