@import "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem ~ 10px
  overflow: hidden;

  @media only screen and (max-width: $bp-small) {
    font-size: 50%; // 1rem ~ 8px
  }
}

body {
  background-image: linear-gradient(#DA4453, #89216B);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
